/* body {
  height: 100vh;
  font-size: 3rem;
  font-weight: 800;
  margin: 0;
  background-color: rgb(99, 91, 91);

  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  padding: 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0;
  height: 100px;
  width: 100px;
}

button:hover {
  color: #fd00ad;
}

button.svg-tag {
  background-color: rgb(99, 91, 91);
fill: none;
width: 80px;
height: 80px;
}

button.svg-tag:hover svg {
  stroke: currentColor;
}

button.svg-tag:first-child:hover svg {
 fill: aqua;
}

button.svg-tag svg {
  stroke: black;
}

button.img-tag,
.svg-tag {
  display: flex;
  justify-content: center;
  align-items: center;
}


* {
  box-sizing: border-box;
  margin-bottom: 5px
}

body {
  height: 100vh;
  background-color: rgb(99, 91, 91);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


div[contenteditable] {
  border: 1px solid red;
  width: 300px;
  height: 100px;
  overflow-y: auto;
} */

* {
  box-sizing: border-box;
  margin-bottom: 5px
}

body {
height: 100vh;
font-size: 2rem;
font-weight: 800;
background-color: rgb(68, 79, 66);

display: flex;
justify-content: center;
align-items: center;
}


/* .list {
  list-style: none;
  list-style-image: url(/images/file-dotted-duotone-svgrepo-com.svg);
} */

.list {
  list-style-type: disc;
  list-style: none;
  list-style-image: linear-gradient(130deg, red, black);
  list-style-position: inside;
  width: 400px;
}

/* .list-item::marker {
  color: rgb(197, 6, 227);
  content: counter(example);
} */


ol {
  counter-reset: example 0;
  display: flex;
  gap: 20px;
  list-style: none;
}

li {
  counter-increment: example 2;
  width: 350px;
  background-color: rgb(37, 160, 154);
  color: white;
  padding: 20px;
  position: relative;
}

li::after {
  content: counter(example);
  color: rgba(232, 223, 223, 0.592);
  font-size: 6rem;
  position: absolute;
  right: 10px;
  top: -15px;
}

p {
  font-size: 16px;
}