.app-wrapper {
  display: grid;
  grid-template-areas:
    "header header"
    "nav content"
    "footer footer";
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
}

.header {
  border: 1px solid rgb(4, 244, 136);
  grid-area: header;
}

.nav {
  border: 1px solid rgb(4, 244, 136);
  grid-area: nav;
}

.content {
  border: 1px solid rgb(4, 244, 136);
  grid-area: content;
  overflow-y: auto;
}

.footer {
  border: 1px solid rgb(4, 244, 136);
  grid-area: footer;
}