.text-field {
  position: relative;
}

input {
  border: none;
  border-bottom: solid 1px black;
  font-size: 1rem;
  outline: none;
}

input:focus-visible {
  border-color: royalblue;
}

label {
  position: absolute;
  left: 0;
  transition: 0.2s;
}

input:focus + label,
input:not(:placeholder-shown) + label {
  transform: translateY(-1.5rem);
  font-size: 0.8rem;
}

input::placeholder {
  opacity: 0;
}



